#first,
#second,
#third {
	width:600px;
	padding:0.5em;
	text-align:middle;
	margin:1em auto;
}

#first{
	border:1px;
	color:black;
	border-style:solid;
	border-top-left-radius: 10px;
	border-radius: 20px 20px 20px 20px;
	width:20em;
	height:20em;
	overflow:hidden;
	border-radius:50%;
}

#second{
	border:10px;
	color:blue;
	border-style:dotted;
}

#third{
	border-top-width:3px;
	border-right-width:1px;
	border-bottom-width:3px;
	border-left-width:0px;
	border-color:green;
	border-style:solid;
}